#collection {
  .md-card-header .md-avatar, .md-card-header>img {
    width: 25%;
    height: 25%;
    // margin-right: 16px;
    // float: left; 預設讓標題字不會貼邊
    margin: -35px 16px 5px -55px;
  }
}

.blockquote{
  blockquote {
    background: #fffef1;
    border-radius: 3px;
    margin: 16px 0 6px 0;

    p {
      padding: 15px;
      margin: 0;

      &::before {
        content: '\201C';
      }

      &::after {
        content: '\201D';
      }
    }
  }
  
  figcaption{
    padding: 0 15px;

    cite {
      // margin:16px;
      a{
        text-decoration: none;
      }
    }
  }
  
  [contenteditable='true'] {
    caret-color: #bb6697;
  }
}