// Float Interactions Overflow

// Utilities
$utilities: () !default;
$utilities: map-merge(
  ( 
    // Float
    "float": (
      responsive: true,
      property: float,
      values: (
        start: left,
        end: right,
        none: none,
      )
    ),
    // Interactions
    "user-select": (
      property: user-select,
      values: all auto none
    ),
    "pointer-events": (
      property: pointer-events,
      class: pe,
      values: none auto,
    ),
    // Overflow
    "overflow": (
      property: overflow,
      values: auto hidden visible scroll,
    ),
  )
  $utilities
);

.clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}