// Position 

$position-values: (
  0: 0,
  33: 33,
  50: 50%,
  66: 66%,
  100: 100%
) !default;

// Utilities
$utilities: () !default;
$utilities: map-merge(
  (
    // NOTE: '自訂Utilities名稱': (
      // responsive: 支援響應式，屬性會被加上斷點 編譯成:class-xl
      // property: 設定對應的 css 屬性，沒有設定 class 會以此為主
      // class: 自訂 class 前綴名稱 編譯成:class-values
      // values 設定屬性值
      // state: 自訂狀態(hover focus ...) 編譯成:class-values-hover
    // )
    "position": (
      property: position,
      values: static relative absolute fixed sticky
    ),
    "top": (
      property: top,
      values: $position-values
    ),
    "bottom": (
      property: bottom,
      values: $position-values
    ),
    "start": (
      property: left,
      class: start,
      values: $position-values
    ),
    "end": (
      property: right,
      class: end,
      values: $position-values
    ),
    "translate-middle": (
      property: transform,
      class: translate-middle,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
      )
    )
  )
  $utilities
);