// 網頁內容高度
.h-content{
  // xsmall
  min-height: calc(100vh - 56px);

  @include medium {
    height: calc(100vh - 64px);
  }
}

// 調整卡片間距
#collection .md-layout-item,
#edit #temp .md-layout-item {
  margin-top: 16px;
  margin-bottom: 16px;
}