/* color */

$light1:   #FFFDF5; // $white
$light2:   #FFF9DB; // $accent-default
$light3:   #DDDBFF;
$dark1:    #403E37; // $black
$dark2:    #B3AB88; // $primary-dark
$dark3:    #7876B3; // $primary-default
$dark4:    #807D6E; // $accent-dark
$dark5:    #757159;
$warn:     #FFD2CF;
$warn2:    #ffe4cf;
$success:  #C2FFDB;
$success2: #C2E0FF;
$success3: #C2FFFE;

$colorList: (
  light1:   $light1,
  light2:   $light2,
  light3:   $light3,
  dark1:    $dark1,
  dark2:    $dark2,
  dark3:    $dark3,
  dark4:    $dark4,
  dark5:    $dark5,
  warn:     $warn,
  warn2:    $warn2,
  success:  $success,
  success2: $success2,
  success3: $success3
  );
@each $key, $value in $colorList {
  .bg-#{$key} {
    background-color: $value !important;
  }
  .tc-#{$key} {
    color: $value !important;
    .md-icon-font{
      color: $value !important;
    }
  }
}