// 網頁內容高度
.h-content{
  min-height: calc(100vh - 72px);
  
  @include md-layout-xsmall {
   min-height: calc(100vh - 64px);
  }
}

// For Btn
.h-unset {
  height: unset;
}
.w-unset {
  width: unset;
  min-width: unset;

}
.w-signBtn{
  min-width: 119px;
  .md-icon{
    margin: auto 8px;
  }
}

// 調整卡片間距
#collection .md-layout-item{
  margin-top: 16px;
  margin-bottom: 16px;
}

// 登入的帳號密碼欄位在 960px 以下不顯示
.md-small-show{
  display: none;
  @include md-layout-small {
    display: flex;
   }
}