// 網頁內容高度
.h-content{
  // xsmall
  min-height: calc(100vh - 64px);

  @media (min-width: 600px) {
    min-height: calc(100vh - 72px);
  }
  // @include md-layout-xsmall {
  //   min-height: calc(100vh - 72px);
  // }
}

// For Btn
.h-unset {
  height: unset;
}
.w-signBtn{
  min-width: 119px;
  .md-icon{
    margin: auto 8px;
  }
}

// 調整卡片間距
#collection .md-layout-item,
#contact .md-layout-item {
  margin-top: 16px;
  margin-bottom: 16px;
}