/* spacer */

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25, // 4px
  2: $spacer * 0.5,  // 8px
  3: $spacer,        // 16px
  4: $spacer * 1.5,  // 21px
  5: $spacer * 2,    // 32px
  6: $spacer * 3,    // 48px
  7: $spacer * 4,    // 64px
  8: $spacer * 5,     // 80px
  auto: auto
);
  
// Map (key: value) 一對(pair)的特性
@each $key, $value in $spacers {
  .m-#{$key} {
    margin: $value !important;
  }
  .mx-#{$key} {
    margin-right: $value !important;
    margin-left: $value !important;
  }
  .my-#{$key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
  .mr-#{$key} {
    margin-right: $value !important;
  }
  .ml-#{$key} {
    margin-left: $value !important;
  }
  .mt-#{$key} {
    margin-top: $value !important;
  }
  .mb-#{$key} {
    margin-bottom: $value !important;
  }
}
@each $key, $value in $spacers {
  .p-#{$key} {
    padding: $value !important;
  }
  .px-#{$key} {
    padding-right: $value !important;
    padding-left: $value !important;
  }
  .py-#{$key} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
  .pr-#{$key} {
    padding-right: $value !important;
  }
  .pl-#{$key} {
    padding-left: $value !important;
  }
  .pt-#{$key} {
    padding-top: $value !important;
  }
  .pb-#{$key} {
    padding-bottom: $value !important;
  }
}