/**
 * The default theme palette
 * primary: indigo 500 #3f51b5
 * accent: pink 500 #e91e63
 * theme: light
 *
 * It can be used just before importing the Vue Material stylesheet
 *
 * ---
 * @access public
 * @type colormap
 * @group themes
 */

$md-default-palette: (
  primary: md-get-palette-color(blue, A200),
  accent: md-get-palette-color(red, A200),
  theme: "light"
) !default;


/**
 * Temporary variable to store all themable values
 * ---
 * @access private
 * @type map
 * @group themes
 */
$md-theme-palette: ();


/**
 * Map variable to store all themes to be processed by each component
 * ---
 * @access private
 * @type map
 * @group themes
 */
$md-themes: ();


/**
 * Store the current theme name
 * ---
 * @access private
 * @type string
 * @group themes
 */

$md-current-theme: null;


/**
 * Store the newly registered theme name for comparison, used for checking just called md-register-theme's theme name
 * ---
 * @access private
 * @type string
 * @group themes
 */

$md-theme-name: null;


/**
 * The color contrast values
 * ---
 * @access private
 * @type map
 * @group themes
 */

// custom
$light1:   #FFFDF5; // $white
$light2:   #FFF9DB; // $accent-default
$light3:   #DDDBFF;
$dark1:    #403E37; // $black
$dark2:    #B3AB88; // $primary-dark
$dark3:    #7876B3; // $primary-default
$dark4:    #807D6E; // $accent-dark
$dark5:    #757159;
$warn:     #FFD2CF;
$warn2:    #ffe4cf;
$success:  #C2FFDB;
$success2: #C2FFFE;

$black: $dark1; $rgb-black: "66,66,66" !default;
$white: $light1; $rgb-white: "255, 253, 245" !default;


$md-color-levels: (
  light: (
    background: $white,
    background-variant: #fafafa,
    text-primary: rgba($black, .87),
    text-accent: rgba($black, .54),
    text-hint: rgba($black, .38),
    disabled: rgba($black, .26),
    disabled-background: rgba($black, .12),
    highlight: rgba($black, .12),
    icon: rgba($black, .54),
    icon-disabled: rgba($black, .38),
    divider: rgba($black, .12),
    scrollbar: #757575,
    scrollbar-background: darken(#eee, 5%),
    tooltip: #616161
  ),
  dark: (
    background: #424242,
    background-variant: #303030,
    text-primary: $white,
    text-accent: rgba($white, .7),
    text-hint: rgba($white, .5),
    disabled: rgba($white, .3),
    disabled-background: rgba($white, .12),
    highlight: rgba($white, .12),
    icon: $white,
    icon-disabled: rgba($white, .5),
    divider: rgba($white, .12),
    scrollbar: #9E9E9E,
    scrollbar-background: #212121,
    tooltip: $white
  )
);
