@import "~vue-material/dist/theme/engine"; // Import the theme engine
// 自訂主題顏色
@include md-register-theme("default", (
  primary: #7876B3, // The primary color of your brand
  accent: #FFF9DB, // The secondary color of your brand
  // theme: dark // This can be dark or light
));

@include md-register-theme("dark", (
  primary: #B3AB88,
  accent: #757159, 
  theme: dark
));

// @include md-register-theme("thirdly ", (
//   primary: #B3AB88,
//   accent: #DDDBFF, 
  // theme: dark
// ));


@import "~vue-material/dist/theme/all"; // Apply the theme


.md-drawer.md-theme-default,
.md-content.md-theme-default,
.md-list.md-theme-default {
  background-color: #FFFDF5;
  background-color: var(--md-theme-default-background, #FFFDF5);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.myself-color {
  color: #B3AB88;
  color: #FFF9DB;
  color: #7876B3;
  color: #DDDBFF;
  color: #403E37;
  color: #FFFDF5;
  color: #FFD2CF;
  color: #C2FFDB;
  color: #C2FFFE;
}