// @import "~vue-material/dist/theme/engine"; // Import the theme engine
@import "~vue-material/dist/theme/palette"; 
@import "~vue-material/dist/theme/functions"; 
@import "./variables"; 
@import "~vue-material/dist/theme/color-contrast"; 
@import "~vue-material/dist/theme/mixins"; 

// 自訂主題顏色
@include md-register-theme("default", (
  primary: $dark3, // The primary color of your brand
  accent: $light2, // The secondary color of your brand
  // theme: dark // This can be dark or light
  ));
  
@include md-register-theme("dark", (
  primary: $dark2,
  accent: $dark4,
  theme: dark
  ));
    
@import "~vue-material/dist/theme/all"; // Apply the theme