// Material Color system
@import '../variables/colors';

// theme-colors
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
$gradient: linear-gradient(
  180deg,
  rgba($white, 0.15),
  rgba($white, 0)
) !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$utilities: map-merge(
  (
    // NOTE: '自訂Utilities名稱': (
      // responsive: 支援響應式，屬性會被加上斷點 編譯成:class-xl
      // property: 設定對應的 css 屬性，沒有設定 class 會以此為主
      // class: 自訂 class 前綴名稱 編譯成:class-values
      // values 設定屬性值
      // state: 自訂狀態(hover focus ...) 編譯成:class-values-hover
    // )
    "background-color": (
      property: background-color,
      class: bg,
      values: map-merge(
        $theme-colors, 
        ("transparent": transparent)
      )
    ),
    "border-color": (
      property: border-color,
      class: border,
      values: map-merge(
        $theme-colors,
        ("white": $white)
      )
    ),
    "color": (
      property: color,
      class: text,
      values: map-merge(
        $theme-colors,
        (
          "white": $white,
          "muted": $muted,
          "black-50": rgba($black, .5),
          "white-50": rgba($white, .5),
          "reset": inherit,
        )
      )
    ),
  )
  $utilities
);