// Typography

// font-family
$font-family-CH: 'jf open 粉圓', 'Noto Sans' !default;
$font-family-EN: 'Patrick Hand', 'Noto Sans' !default;
// THINK: 是否需要分中英文及大小標設定

$font-size-root: null !default;
$font-size-base: 1rem !default; // Browser 16px
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-base: $font-weight-normal !default;

$h1-font-size: $font-size-base * 2.25 !default; // 36px
$h2-font-size: $font-size-base * 2 !default; // 32px
$h3-font-size: $font-size-base * 1.75 !default; // 28px
$h4-font-size: $font-size-base * 1.5 !default; // 24px
$h5-font-size: $font-size-base * 1.25 !default; // 20px
$h6-font-size: $font-size-base !default;


$headings-margin-bottom: $spacer * 0.5 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$small-font-size: 0.875em !default;

$text-muted: $gray-600 !default;

$hr-margin-y: $spacer !default;
$hr-color: inherit !default;
$hr-height: $border-width !default;
$hr-opacity: 0.25 !default;

// Utilities
$utilities: () !default;
$utilities: map-merge(
  (
    // NOTE: '自訂Utilities名稱': (
      // responsive: 支援響應式，屬性會被加上斷點 編譯成:class-xl
      // property: 設定對應的 css 屬性，沒有設定 class 會以此為主
      // class: 自訂 class 前綴名稱 編譯成:class-values
      // values 設定屬性值
      // state: 自訂狀態(hover focus ...) 編譯成:class-values-hover
    // )
    'font-size': (
      property: font-size,
      class: fz,
      values: (
        1: $h1-font-size,
        2: $h2-font-size,
        3: $h3-font-size,
        4: $h4-font-size,
        5: $h5-font-size,
        6: $h6-font-size
      )
    ),
    'font-style': (
      property: font-style,
      class: fs,
      values: italic normal
    ),
    'font-weight': (
      property: font-weight,
      class: fw,
      values: (
        light: lighter,
        lighter: 300,
        normal: 400,
        bold: 700,
        bolder: bolder
      )
    ),
    'line-height': (
      property: line-height,
      class: lh,
      values: (
        1: 1,
        2: 1.25,
        3: 1.5,
        4: 2,
        5: 2.5
      )
    ),
    "text-align": (
      responsive: true,
      property: text-align,
      class: text,
      values: left right center,
    ),
    "text-decoration": (
      property: td,
      values: none underline line-through
    ),
    "text-transform": (
      property: text-transform,
      class: text,
      values: lowercase uppercase capitalize
    ),
    "white-space": (
      property: white-space,
      class: text,
      values: (
        wrap: normal,
        nowrap: nowrap,
      )
    ),
    "word-wrap": (
      property: word-wrap word-break,
      class: text,
      values: (break: break-word)
    )
  ),
  $utilities
);
