/* app 首頁 toolbar + drawer + content */

// App
#app {
  .md-app {
    // width: 20%;
    height: 100vh;
  }
  // 電腦螢幕尺寸會出現奇怪空白
  // .md-app-container{
  //   overflow-x: hidden;
  // }
  // .md-content {
  //   width: 80%;
  // }
}

// 網頁內容寬度 100vw - $drawer-w
// 側邊欄 drawer 190px
$drawer-w: 230px;
$drawer-w-small: 80px;
$drawer-w-xsmall: 66vw;
.md-drawer {
  // .md-persistent-mini:not(.md-active)
  width: $drawer-w !important;
  overflow-y: hidden;

  .menuTooltip{
    display: none;
  }

  .menuMember{
    + .md-list-expand-icon{
      display: flex;
    }
  }
  
  @include md-layout-small {
    width: $drawer-w-small !important;
    
    .menuText{
      display: none;
    }

    .menuMember{
      + .md-list-expand-icon{
        display: none;
      }
    }
  }
  
  @include md-layout-xsmall{
    width: $drawer-w-xsmall !important;
    
    .menuText{
      display: flex;
    }
    .menuTooltip{
      display: none;
    }

    .menuMember{
      + .md-list-expand-icon{
        display: flex;
      }
    }
  }

  // 清單的 active 效果
  .md-list{
    .md-list-item-container {
      color: $light1;
    }
    .md-selected,
    .router-link-active {
      // transition: .5s;
      .md-list-item-content {
        background-color: $light3;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          background-color: var(--md-theme-default-primary-on-background, #7876B3);
          width: 5px;
          height: 100%;
        }
      }
    }
    .md-list-item:first-child {
      .md-list-item-content {
        background-color: $dark3;
        color: $light1;
        &::before{
          width: unset !important;
        }
      }
    }
  }

  .md-list{
    width: 100%;

    .md-list-item {
      @include md-layout-small {
        // padding-left: 20%;
      }
    }
  }

  .md-list-item-content>.md-icon:first-child {
    margin-right: 2rem;
    margin-left: 1rem;
    
    @include md-layout-small {
      margin-right: 1rem;
    }
  }
  .md-list-item-content>.md-avatar:first-child {
    @include md-layout-small {
      margin-right: 0;
    }
    @include md-layout-xsmall {
      margin-right: 16px;
    }
  }

  .md-list-item-content:first-child {
    justify-content: center;
  }
}

// 網頁內容高度 100vh - $toolbar-h
// 上方列 toolbar 64px
$toolbar-h: 0px;
$toolbar-h-small: 0px;
$toolbar-h-xsmall: 56px;
.md-toolbar, .md-toolbar-row {
  // min-height: $toolbar-h;  
  // @include md-layout-small {
  //     min-height: $toolbar-h-small;
  // }
  
  @include md-layout-xsmall{
      min-height: $toolbar-h-xsmall;
  }

    // transition-property: opacity,background-color,box-shadow,transform,color,min-height;
    // will-change: opacity,background-color,box-shadow,transform,color,min-height;
}

// .settingTooltip{
//   width: 259px;
//   height: 139px;
//   left: 199px !important;
// }


  // 首頁 logo 字
  .text-dtns{
    font-family: $font-en;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 2px;
  
    &.md-layout-item{
      font-size: 22px;
    }
  }
  
  a.text-Anne{
    font-family: $font-en;
    font-size: 19px;
    letter-spacing: 1px;
    color: $light1 !important;
    &:hover{
      text-decoration: none;
    }
  }
  
  // 縮小版型時選單按鈕才出現
  .btn-menu{
    display: none;
    @include md-layout-xsmall{
      display: flex;
    }
    .modeToggle{
      justify-content: flex-end;
      padding-right: 1rem;
    }
  }
  
  // 縮小版型時按鈕定位
  .btn-toggleMenu{
    position: absolute;
    right: -24px;
    top: 12px;
    @include md-layout-small {
      top: 20px;
    }
  }
  
// 黑暗模式切換按鈕
.modeToggle{
	display: flex;
	align-items: center;
	justify-content: center;
}
#toggleDark{
  display: none;
  &:checked + label {
    &:before {
      background-color: $light1;
      transform: translateX(29px);
    }
    
    &:after {
      transform: translateX(83px) scale(1);
    }
  }
   + label {
    position: relative;
    display: block;
    width: 60px;
    height: 29px;
    border-radius: 100px;
    background-color: #000839;
    overflow: hidden;
    cursor: pointer;
    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";		
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: 4.5px;
      left: 6px;
      transition: .5s ease;
    }
    &:before {
      background-color: #ffa41b;
    }
    &:after {
      background-color: #000839;
      left: -58px;
      transform: scale(0.00001);
    }
  }

  @media (max-width: 768px) {
    &:checked + label {
      &:before {
        transform: translateX(19px);
      }
      
      &:after {
        transform: translateX(78px) scale(1);
      }
    }
     + label {
      width: 39px;
      height: 19px;
      &:before,
      &:after {
        width: 10px;
        height: 10px;
      }
    }
  }
}