/* app 首頁 toolbar + drawer + content */

// App
#app {
  .md-app {
    // width: 20%;
    height: 100vh;
  }
  // .md-content {
  //   width: 80%;
  // }
  .md-drawer {
    // .md-persistent-mini:not(.md-active)
    width: 190px!important;
  }
}

.md-toolbar, .md-toolbar-row {
  min-height: 64px;
  
  @include md-layout-xsmall{
      min-height: 56px;
  }
  
  @include md-layout-small {
      min-height: 48px;
  }

    // transition-property: opacity,background-color,box-shadow,transform,color,min-height;
    // will-change: opacity,background-color,box-shadow,transform,color,min-height;
}

.settingTooltip{
  width: 259px;
  height: 139px;
  // left: 199px !important;
}