#collection {
  .md-tabs-navigation{
    padding: 1rem;
    // 為了釘住 tabs
    position: fixed;
    z-index: 19;
    top: $toolbar-h + 10px;
    
    @include md-layout-small {
      top: $toolbar-h-small + 20px;
      width: calc(100vw - 2.5rem - #{$drawer-w-small});
      overflow-x: scroll;
      overflow-y: hidden;
    }
    
    @include md-layout-xsmall{
      width: 100vw;
      top: $toolbar-h-xsmall + 12px;
      overflow: scroll;
    }

    // tabs 的按鈕寬度
    .md-button{
      min-width: calc((100vw - 4.5rem - #{$drawer-w}) / 7);
      max-width: calc((100vw - 4.5rem - #{$drawer-w}) / 7);

      @include md-layout-small {
        min-width: calc((90vw - #{$drawer-w-small}) / 7);
        max-width: calc((90vw - #{$drawer-w-small}) / 7);
      }

      @include md-layout-xsmall {
        min-width: calc(130vw / 7);
        max-width: calc(130vw / 7);
      }
    }
  }
  
  .md-content.md-tabs-content{
    height: unset !important;
    margin-top: 99px ;
    
    @include md-layout-small {
      margin-top: 119px;
    }
    @include md-layout-xsmall{
      margin-top: $toolbar-h-xsmall * 2;
    }
  }

  .md-tab-icon{
    height: unset;
    width: 3rem;
  }


  .masonry-container {
   .tempCard{
    min-width: 299px;
    max-width: 299px;
    margin: 1.5rem;
      @media (min-width: 1500px) {
        min-width: 350px;
        max-width: 350px;
      }
      @include md-layout-xsmall {
        min-width: 100%;
        max-width: 100%;
        margin: 1rem auto;
      }   
    }
  }
  
  .md-card-header .md-avatar {
    // float: left; 預設讓標題字不會貼邊
    margin: -35px 25px 0px -35px;
    
    @include md-layout-xsmall {
      margin: -35px 25px 0px -19px;
    }
  }
}

.text-pre{
  white-space: pre;
}
.word-break-all {
  word-break: break-all;
}

.card-share{
  figure {
    margin: unset;
  }
  blockquote {
    background: darken( $light1 ,5% );
    border-radius: 3px;
    margin: 8px 0 6px 0;

    &::before {
      position: absolute;
      content: '\201C';
      font-size: 3rem;
      color: $dark2;
      // top: 10px;
      left: 10px;
      margin-top: 20px;
    }

    p {
      text-align: center;
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 1.75;
      padding: 1.5rem 0;
      margin: 0;
      
      &::after {
        position: absolute;
        content: '\201D';
        font-size: 3rem;
        color: $dark2;
        // bottom: 10px;
        right: 10px;
      }
    }

    figcaption{
      text-align: right;
      // padding: 0 15px;
      padding: 0 15px 15px 0;
      cite {
        color: $dark4;
        // margin: 16px;
      }
    }
  }
}

.ulListBox{
  margin-top: 1.5rem;
  margin-bottom: -2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ulList{
  width: 90px;
  height: auto;
  margin: 3px;
  padding: 1rem;
  font-size: 19px;
  line-height: 1.3;
  letter-spacing: 3px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 19px rgba($dark5, 0.4);
  // position: absolute;
  transition: background-color 0.5s;
  cursor: pointer;
}
.card-postit{
  background-color: $success;
}
.card-todo{
  background-color: $success2;
}
// .card-modal-img{
//   width: 199px;
//   position: absolute;
//   top: 30%;
//   right: 0;
// }


.md-theme-dark{
  .card-share{
    blockquote {
      background: lighten( $dark1 ,2% );
    }
    cite {
      color: lighten($dark4, 20%);
    }
  }
}

.tempCard{
  .md-card-header .md-subhead {
    // vertical-align: center;

    .md-svg-loader {
      display: inline-block;
    }
  }
}

.md-speed-dial{
  .md-fab {
    box-shadow: unset;
    width: unset;
    // height: unset;
  }

  .md-fab,
  .md-fab .md-ripple,
  .md-fab:before,
  .md-icon-button,
  .md-icon-button .md-ripple,
  .md-icon-button:before {
    border-radius: unset;
  }

  &.md-bottom-right{
    right: 12px;
    bottom: 12px;
  }
}

.showCardModal{
  .md-dialog-container {
    min-width: 600px;
    @include md-layout-small {
      min-width: 500px;
    }
    @include md-layout-xsmall {
      min-width: 100vw;
    }
  }
  .md-card {
    box-shadow: unset;
  }

  // .md-icon-dateL{
  //   display: inline-block;
  //   min-width: 99px;
  //   height: 39px;
  //   position: relative;
  // }
  // .md-icon-dateL + span {
  //   position: absolute;
  //   // top: 50%;
  //   left: calc( 50% - 0px );
  //   // transform: translateY(29%);
  // }
  .md-icon-dateL{
    position: absolute;
    right: 9px;
    top: -10px;
    display: inline-block;
    padding: 0.6rem 0.8rem 0.65rem 0.7rem;
    margin-left: -0.3rem;
    background: url(../assets/icon/dateL.svg) no-repeat center;
  }

  .md-card-media,
  .md-card-content{
    max-width: 600px;
    // img{}
  }

  .md-svg-loader {
    display: inline-block;
  }
}