#collection {
  .md-tabs-navigation{
    padding: 1rem;
  }
  
  .md-tab-icon{
    height: unset;
    width: 3rem;
  }

  .masonry-container {
   .tempCard{
    min-width: 299px;
    max-width: 299px;
    margin: 1.5rem;
      @media (min-width: 1500px) {
        min-width: 350px;
        max-width: 350px;
      }
      @include md-layout-xsmall {
        min-width: 95%;
        max-width: 95%;
        margin: 1rem auto 1rem 1.5rem;
      }   
    }
  }

  .md-content.md-tabs-content{
    height: unset !important;
  }


  // .md-tabs .md-tabs-container .md-tab{
  //   min-height: calc(100vh - 72px);
    
  //   @include md-layout-xsmall {
  //     min-height: calc(100vh - 64px);
  //   }
  // }
  
  .md-card-header .md-avatar {
    // float: left; 預設讓標題字不會貼邊
    margin: -35px 16px 5px -55px;
  }
}

.text-pre{
  white-space: pre;
}
.word-break-all {
  word-break: break-all;
}

.blockquote{
  blockquote {
    background: #fffef1;
    border-radius: 3px;
    margin: 16px 0 6px 0;

    p {
      padding: 15px;
      margin: 0;

      &::before {
        content: '\201C';
      }

      &::after {
        content: '\201D';
      }
    }
  }
  
  figcaption{
    padding: 0 15px;

    cite {
      // margin:16px;
      a{
        text-decoration: none;
      }
    }
  }
  
  [contenteditable='true'] {
    caret-color: #bb6697;
  }
}

.tempCard{
  .md-card-header .md-subhead {
    // vertical-align: center;

    .md-svg-loader {
      display: inline-block;
    }
  }
}

.md-speed-dial{
  .md-fab {
    box-shadow: unset;
    width: unset;
    // height: unset;
  }

  .md-fab,
  .md-fab .md-ripple,
  .md-fab:before,
  .md-icon-button,
  .md-icon-button .md-ripple,
  .md-icon-button:before {
    border-radius: unset;
  }

  &.md-bottom-right{
    right: 12px;
    bottom: 12px;
  }
}

.showCardModal{
  .md-card {
    box-shadow: unset;
  }

  .md-icon-dateL{
    display: inline-block;
    min-width: 99px;
    height: 39px;
    position: relative;
  }
  .md-icon-dateL + span {
    position: absolute;
    /* top: 50%; */
    left: calc( 50% - 29px );
    transform: translateY(49%);
  }

  .md-card-media,
  .md-card-content{
    width: 600px;
    // img{}
  }

  .md-svg-loader {
    display: inline-block;
  }
}