/* contact */
#contact{
  .w-contact-content{
    // min-width: 150%;
    // max-width: 150%;
    min-width: 132%;
    // size-50 剛好是 66% 的寬度
  }
  // .h-contact-content{
  //   max-height: calc(100vh - 64px);
  // }

  .md-card .md-avatar {
    margin-left: -40px;
  }
}

form.w-contact-modal {
  min-width: 299px;
}

#question,
#questionCard{
  padding: 1rem;

  // .md-headline{
  //   display: inline-block;
  //   position: relative;

  //   &:before{
  //     content: '';
  //     background-color: $light1;
  //     width: 99px;
  //     height: 23px;
  //     position: absolute;
  //     top: 10px;
  //     left: 10px;
  //   }
  // }
}

.accordion{
  .md-svg-loader {
    display: inline-block;
  }
  .accordion__content{
    ul{
      margin: 16px 0;
      ul, ol{
        padding: 0;
      }
      ul{
        list-style-type: "\15C8 "; // ᗈ
      }
    }
  }
}

#questionCard{
  .md-layout-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
  }
  span.md-caption{
    background-color: $light1;
    padding: 3px;
    border-radius: 2px;
  }
}

.md-theme-dark{
  #questionCard{
    span.md-caption{
      background-color: $dark1;
    }
  }
}
