/* edit */
#edit{
  @media (max-width: 960px){
    .md-layout-item {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  .md-card .md-card-header{
    text-align: center;
  }
}

#temp{
  padding: 2rem;

  @include md-layout-small {
    padding: unset;

    .md-layout:first-child{
      flex-wrap: nowrap !important;
    }
    .md-small-size-temp {
      min-width: (99% / 7);
      max-width: (99% / 7);
      flex: 0 1 (99% / 7);
    }
  }
  
  @include md-layout-xsmall{
    // overflow-x: scroll;
    // overflow-y: hidden;
    width: calc(100vw - 2.5rem);
  }

  .md-card {
    margin: 12px;
    @include md-layout-small {
      margin: 6px;
    }
    &:hover{
      span{
        color: $dark2;
      }
    }
    span{
      color: $dark3;
    }
  }

  .md-ratio-4-3 {
    overflow: hidden;
    &:before {
      width: 100%;
      padding-top: 119%;
      display: block;
      content: " ";
    }

    img {
      padding: 36px;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      transform: translateY(0%);
      
      @include md-layout-medium {
        padding: 16px;
      }
      @include md-layout-small {
        padding: 6px;
        top: 50%;
        transform: translateY(-50%);
      }
      @include md-layout-xsmall {
        padding: unset;
      }
    }
  }
}

#tempEdit{
  padding: 2rem;

  @include md-layout-small {
    padding: unset;
  }

  .md-card {
    background-color: white;
    margin-right: 8px;
    margin-left: 8px;
  }
  .img-inputer {
    width: 100%;
    margin: 1rem 0 -0.2rem 0;
  }
  .label {
    display: block;
    margin-top: 8px;
    margin-bottom: -10px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    line-height: 20px;
  }
}

.md-field.md-theme-default.md-invalid .md-error {
  color: $warn;
  color: var(--md-theme-default-fieldvariant, $warn);
}