/* edit */
#edit{
  @media (max-width: 960px){
    .md-layout-item {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

#temp{
  .md-card {
    margin: 12px;
    &:hover{
      span{
        color: #B3AB88;
      }
    }
  }

  .md-ratio-4-3 {
    overflow: hidden;
    &:before {
      width: 100%;
      padding-top: 119%;
      display: block;
      content: " ";
    }

    img {
      padding: 20px;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      transform: translateY(0%);
      
      @media (max-width: 960px){
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  

  .md-card-header{
    padding: unset;
    span{
      color: #7876B3;
    }
  }
}

#tempEdit{
  .img-inputer {
    width: 100%;
    margin: 4px 0 24px;
  }
  .label {
    display: block;
    margin-top: 8px;
    margin-bottom: -10px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    line-height: 20px;
  }
}