/* edit */
#edit{
  @media (max-width: 960px){
    .md-layout-item {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

#temp{
  .md-card {
    margin: 8px;
    &:hover{
      span{
        color: #B3AB88;
      }
    }
  }

  .md-ratio-10-19 {
    overflow: hidden;
    &:before {
      width: 100%;
      padding-top: 119%;
      display: block;
      content: " ";
    }
  }
  
  img {
    padding: 16px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    
    @media (max-width: 960px){
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .md-card-header{
    padding: unset;
    span{
      color: #7876B3;
    }
  }
}

#tempEdit{
  .label {
    display: block;
    margin-top: 8px;
    margin-bottom: -10px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    line-height: 20px;
  }
}