/* home */
#home {
  .text-title {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 1.5rem;
    letter-spacing: 2px;
    
    @include md-layout-medium {
      font-size: 50px;
    }
  
    @include md-layout-small {
      font-size: 42px;
      padding-left: 1rem;
    }
    
    @include md-layout-xsmall {
      font-size: 36px;
    }
  }
  .text-subhead {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.25;
    padding-left: 1.5rem;
    letter-spacing: 2px;
    
    @include md-layout-medium {
      font-size: 30px;
    }
    
    @include md-layout-small {
      font-size: 26px;
      padding-left: 1rem;
    }
    
    @include md-layout-xsmall {
      font-size: 22px;
    }

    @media (max-width: 300px) {
      font-size: 18px;
      letter-spacing: 0;
    }
  }
  // 調整卡片間距
  .md-card{
    margin-top: 1.5rem;
    margin-right: 18px;
    margin-left: 18px;
    padding: 1rem 0;
  }
  .md-layout-item.md-size-33 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include md-layout-small {
      margin-top: unset;
      margin-bottom: unset;
    }

    .md-card-header{
      text-align: center;

      .md-subhead {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  // For mini size phone
  .md-layout-item.md-small-size-30,
  .md-layout-item.md-small-size-70 {
    @media (max-width: 400px) {
      min-width: 100%;
      max-width: 100%;
      flex: 1 1 100%;
      }
    }
  }

// scss 的 預設集 給變數 自動產生樣式 
@mixin sizeIcon($px) {
  width: $px;
  min-width: $px;
  height: $px;
  font-size: $px!important;
}

.md-icon.md-home-icon {
  @include sizeIcon(120px);
  
  @include md-layout-medium {
    @include sizeIcon(100px);
  }
  
  @include md-layout-small {
    @include sizeIcon(90px);
  }
  
  @include md-layout-xsmall {
    @include sizeIcon(60px);
  }
}