/* home */
#home {
  // 調整卡片間距
  .md-card{
    margin-top: 1.5rem;
  }
  .md-layout-item.md-size-33 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include md-layout-small {
      margin-top: unset;
      margin-bottom: unset;
    }

    .md-card-header{
      text-align: center;

      .md-subhead {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

// scss 的 預設集 給變數 自動產生樣式 
@mixin sizeIcon($px) {
  width: $px;
  min-width: $px;
  height: $px;
  font-size: $px!important;
}

.md-icon.md-home-icon {
  @include sizeIcon(120px);
  
  @include md-layout-medium {
    @include sizeIcon(100px);
  }
  
  @include md-layout-small {
    @include sizeIcon(90px);
  }
  
  @include md-layout-xsmall {
    @include sizeIcon(60px);
  }
}