/* manage */
#manage{
  .md-tabs-navigation{
    position: fixed;
    z-index: 9;
    margin-top: -16px;
  }
  .md-tabs-content{
    margin-top: 29px;
  }

  .badge {
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 2px;
    background: red;
    border-radius: 100%;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.05em;
    font-family: 'Roboto Mono', monospace;
  }
}

#manageArticle{
  .table-body-cell-class {
    padding: 8px 0;
    border: 10px;

    img{
      padding: 3rem;
      @include md-layout-xsmall {
        padding: 1rem;
      }
    }
  }
}

#manageTemplate{
  .md-table{
    // max-height: calc(100vh - 190px);
    border: solid 1px #B3AB88;
  }
}

#manageReply{
  .md-table-head, .md-table-cell{
    max-width: 300px;
  }
}