/* member */
#member{
  .tempCardForMember{
    min-width: 350px;
    max-width: 350px;
    margin: 1.5rem;
    @include md-layout-xsmall {
      min-width: 95%;
      max-width: 95%;
      margin: 1rem auto 1rem 1.5rem;
    }
    
    .md-card-content{
      cursor: copy;
      padding: 1rem;
      border-top: $dark2 1px solid;
      border-bottom: $dark2 1px solid;
    }
  }

  .ulListBox{
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    flex-direction: column;
    .card-postit ,.card-todo{
      width: unset;
      justify-content: flex-start;
    }
  }
}